@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.finalBagContainer{
    // height: 70vh;
    .finalBag{

        position: relative;
        height: 400px;
        .bag{
            position: absolute;
        left: 50%;
        transform: translateX(-50%);
            width: 400px;
        }
    
        .gem{
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            width: 400px;
        }
        .woodHandle{
          position: absolute;
          left:50%;
            transform: translateX(-50%);
            width: 400px;
        }
    
    
        .bagName{
            position: absolute;
            bottom: 18%;
            left: 50%;
            transform: translateX(-50%);
            
        }
        .handleName{
            position: absolute;
            top: 83%;
            left: 50%;
            transform: translateX(-50%);
            
        }
        .colorBar{
            // position: absolute;
            // top:80%;
        }
        .gemName{
            position: absolute;
            top: 87%;
            left: 50%;
            transform: translateX(-50%);
            
        }
        .bagName,.handleName,.gemName{
            font-family: "Montserrat", Sans-serif;
            font-size: 12px;
            color:#6E550F;
        }
    
    }
    .div1{
        height:40px;
        margin-top: 22px;
    }
    .div2{
        margin-top: 46px;
        @media (max-width:814px){
            margin-top: 80px;
        }
    }
    .saveBtn{
        border: 1px solid #d1a543;
        color: #d1a543;
        background: #fff;
        border-radius: 75px 25px;
        cursor: pointer;
        font-family: Montserrat, Sans-serif;
        font-size: 15px;
        font-style: italic;
        font-weight: 600;
        padding: 8px 30px;
    }
}
